@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blueviolet;
    font-family: 'Bai Jamjuree', sans-serif;
}
.show {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100vh;
    height: auto;
    margin: auto;
    border: 2px solid #3A3A3A;
    margin-top: 30px;
    border-radius: 20px;
}
.header {
    width: 80vh;
    background-color: #3A3A3A;
    margin-top: 3rem;
    border-radius: 20px;
}
.letDisplay {
    width: 80vh;
    margin-top: 3rem;
}
.thirdLine {
    width: 80vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.answer {
    margin-top: 20px;
}
.answer p {
    font-size: x-large;
    font-style: italic;
}

h2 {
    font-size: xx-large;
    color: white;
}
h3 {
    font-size: x-large;
}
p {
    font-size: 18px;
}
.participant p {
    font-weight: bolder;
    margin-top: 10px;
}
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vh;
}
.status p {
    color: green;
    font-weight: bolder;
    margin-top: 10px;
    
}
.status img {
    width: 50px;
    height: 50px;
}
.timer p {
    background-color: rgb(172, 4, 4);
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.selectNumber {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100vh;
    height: auto;
    margin: auto;
    border: 2px solid #3A3A3A;
    margin-top: 200px;
    border-radius: 20px;
}
.selectNumber button {
    margin: 2px;
}

.third button {
    background-color: rgb(96, 17, 170);
    width: 7rem;
    border: none;
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.third button:hover {
    background-color: white;
    width: 7rem;
    border: 2px dashed blueviolet;
    font-size: 20px;
    color: blueviolet;
    border-radius: 20px;
}
.qNo button {
    background-color: rgb(1, 77, 1);
    padding: 10px 15px ;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
}
.qNo {
    width: 90%;
}
.qNo button:hover {
    background-color: white;
    padding: 10px 15px ;
    color: blueviolet;
    border-radius: 5px;
    font-size: 18px;
    border: 1px dotted blueviolet;
}
.range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 70%;
}
.range input {
    padding: 15px;
    font-size: 15px;
    border: 2px solid blueviolet;
    width: 50px;
    border-radius: 10px;
}
.range h3 {
    font-size: 20px;
}
hr {
    background-color: #3A3A3A;
}

